* {
  margin: 0;
}

.timetable {
    border-collapse: collapse;
    width: 100%;
}
  
.timetable th, .timetable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  


.table {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  
}
  
  
.table button {
    font-size: 1.5cap;
}
  
  
.table input {
    margin-left: 20px ;
    font-size:2ch ;
}
  
 
#download-container {
    text-align: center;
}  
  